<mat-drawer-container flex style="height: calc(100vh); width:calc(100vw)">
	<mat-drawer style="min-width: 300px;max-width: 300px;" #drawer mode="side" [opened]="draweropen">
		<mat-form-field style="width:100%">
			<input [(ngModel)]="term" matInput placeholder="Fiter" value="">
		</mat-form-field>
		<mat-list role="list">
			<mat-list-item (click)="currentNoteIndex=i;drawer.toggle()" [ngStyle]="{'background-color': (i === currentNoteIndex) ? 'rgba(255,206,67,1)': ''}" role="listitem" *ngFor="let note of notes | textSearch:term ; let i = index;">
				<h4 mat-line>{{note.title}}</h4>
				<span style="font-size: 12px;font-weight: 400;color: #6f6f6f;" mat-line *ngIf="!note.updated">created {{note.updated | amTimeAgo}}</span>
				<span style="font-size: 12px;font-weight: 400;color: #6f6f6f;" mat-line *ngIf="note.updated">updated {{note.updated | amTimeAgo}}</span>
			</mat-list-item>
		</mat-list>
	</mat-drawer>
	<mat-drawer-content>
		<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button *ngIf="notes.length > 0" (click)="drawer.toggle()" mat-icon-button>
				<mat-icon>dehaze</mat-icon>
			</button>
			<span style="margin-left:5px;">Notes</span>
			<span style="flex:1 1 0;"></span>
			<button *ngIf="notes.length > 0" mat-button mat-icon-button  (click)="deleteNote()">
				<mat-icon style="color:#fff">delete</mat-icon>
			</button>
    		<button mat-button mat-icon-button  (click)="addNew()">
      			<mat-icon>note_add</mat-icon>
    		</button>
		</mat-toolbar-row>
		</mat-toolbar>
		<span *ngIf="notes.length === 0">No Notes yet</span>
		<mat-form-field flex *ngIf="notes[currentNoteIndex]" style="width:calc(100vw)">
			<textarea style="height: calc(100vh - 110px);" flex matInput placeholder="Notes..." [(ngModel)]="notes[currentNoteIndex].description" (ngModelChange)="updateNote()"></textarea>
		</mat-form-field>
	</mat-drawer-content>
</mat-drawer-container>